In [1]:
from three_in_a_row import ThreeInARow

game = ThreeInARow()
game.play()

Congratulations! Player 2 won
Do you want to play again? (Y/N): N

SystemExit: Game ended

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3304: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)